// colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$pink: hsla(320, 95%, 85%, 1);
$bluewater: hsla(212, 83%, 57%, 1);
$aqua: hsla(191, 72%, 75%, 1);
$purple: hsla(248, 86%, 77%, 1);

//font sizes
$font-xs: .625rem;//10
$font-sm: .857rem;//14
$font-reg: 1rem;//16
$font-md: 1.125rem;//18
$font-lg: 1.25rem; //20
$font-xl: 7.25rem; // 52