.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation: fade-in 300ms ease forwards;
          animation: fade-in 300ms ease forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  -webkit-animation: fade-out 2400ms ease forwards;
          animation: fade-out 2400ms ease forwards;
}

.intro {
  -webkit-animation: introload 2s ease-in-out forwards;
          animation: introload 2s ease-in-out forwards;
}

@-webkit-keyframes introload {
  from {
    transform: translateY(40px);
    line-height: 2.5;
  }
  to {
    transform: translateY(0px);
    line-height: 1.5;
  }
}

@keyframes introload {
  from {
    transform: translateY(40px);
    line-height: 2.5;
  }
  to {
    transform: translateY(0px);
    line-height: 1.5;
  }
}
.intromoveY {
  -webkit-animation: intromoveY 2s ease-in-out forwards;
          animation: intromoveY 2s ease-in-out forwards;
}

@-webkit-keyframes intromoveY {
  from {
    transform: translateY(40px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes intromoveY {
  from {
    transform: translateY(40px);
  }
  to {
    transform: translateY(0px);
  }
}
.intromovelr {
  -webkit-animation: intromovelr 2s ease-in-out forwards;
          animation: intromovelr 2s ease-in-out forwards;
}

@-webkit-keyframes intromovelr {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes intromovelr {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.intromovezigzag {
  -webkit-animation: intromovezigzag 2s ease-in-out forwards;
          animation: intromovezigzag 2s ease-in-out forwards;
}

@-webkit-keyframes intromovezigzag {
  0% {
    opacity: 0;
    transform: scale(1.6) translate(40px, -40px);
  }
  100% {
    opacity: 1;
    transform: scale(1.6) translate(0px, 0px);
  }
}

@keyframes intromovezigzag {
  0% {
    opacity: 0;
    transform: scale(1.6) translate(40px, -40px);
  }
  100% {
    opacity: 1;
    transform: scale(1.6) translate(0px, 0px);
  }
}
.intromovezigzagmobile {
  -webkit-animation: intromovezigzagmobile 2s ease-in-out forwards;
          animation: intromovezigzagmobile 2s ease-in-out forwards;
}

@-webkit-keyframes intromovezigzagmobile {
  0% {
    opacity: 0;
    transform: translate(40px, -40px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes intromovezigzagmobile {
  0% {
    opacity: 0;
    transform: translate(40px, -40px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes intromovezigzagtablet {
  0% {
    opacity: 0;
    transform: translate(40px, -40px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes intromovezigzagtablet {
  0% {
    opacity: 0;
    transform: translate(40px, -40px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
.moverlin {
  -webkit-animation: moverlin 300ms ease-in-out forwards;
          animation: moverlin 300ms ease-in-out forwards;
}

@-webkit-keyframes moverlin {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes moverlin {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.moverlout {
  -webkit-animation: moverlout 300ms ease-in-out forwards;
          animation: moverlout 300ms ease-in-out forwards;
}

@-webkit-keyframes moverlout {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

@keyframes moverlout {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}
html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 0.857rem;
  color: hsl(233deg, 8%, 62%);
  line-height: 1.3;
  font-weight: 300;
  font-family: "Plus Jakarta Sans", sans-serif;
}
@media (min-width: 64em) {
  body {
    font-size: 1rem;
  }
}
body.noscroll {
  overflow: hidden;
}

h1, h2, h3 {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.2;
  color: hsl(233deg, 26%, 24%);
}

h1 {
  font-size: 2.31rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 64em) {
  h1 {
    font-size: 7.25rem;
    line-height: 1.1;
  }
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
}
@media (min-width: 64em) {
  h2 {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
}
.container--pa {
  padding-top: 4.375rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 4.375rem;
}
@media (min-width: 64em) {
  .container--pa {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}
.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}
.container--px {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container--pt {
  padding-top: 4.375rem;
}
@media (min-width: 64em) {
  .container--pt {
    padding-top: 6rem;
  }
}
.container--pr {
  padding-right: 1.5rem;
}
.container--pb {
  padding-bottom: 4.375rem;
}
@media (min-width: 64em) {
  .container--pb {
    padding-bottom: 6rem;
  }
}
.container--pl {
  padding-left: 1.5rem;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

button, .button {
  position: relative;
  display: inline-block;
  padding: 0.875rem 2.1875rem;
  background-color: hsl(233deg, 26%, 24%);
  border: 0;
  color: hsl(0deg, 0%, 100%);
  font-weight: 400;
  border-radius: 0px;
  cursor: pointer;
  font-size: 0.857rem;
  transition: opacity 300ms ease;
  overflow: hidden;
  z-index: 8;
}
button::before, .button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: hsl(320deg, 95%, 85%);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 200ms ease;
}
button:hover::before, .button:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn-outline {
  outline: 1px solid rgba(255, 255, 255, 0.231372549);
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.z8 {
  z-index: 8;
}

@media (min-width: 64em) {
  .hero .container {
    display: flex;
    align-items: center;
  }
}
.hero__image {
  position: relative;
  background-size: 23rem;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 27rem;
  width: 100vw;
  overflow: hidden;
}
@media (min-width: 40em) {
  .hero__image {
    min-height: 38rem;
    background-size: 44rem;
    width: 100vw;
    overflow: hidden;
  }
}
@media (min-width: 64em) {
  .hero__image {
    flex: 3;
    order: 2;
    min-height: 90vh;
    background-position: center center;
    background-size: 100%;
  }
}
.hero__image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -1rem;
  background-image: url("https://raw.githubusercontent.com/desalwi/modoro/main/images/visual/manwithlaptoplong.png");
  background-size: 29rem;
  background-repeat: no-repeat;
  background-position: center bottom;
  -webkit-animation: intromovelr 2s ease-in-out forwards;
          animation: intromovelr 2s ease-in-out forwards;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  opacity: 0;
}
@media (min-width: 40em) {
  .hero__image::after {
    min-height: 36rem;
    background-size: 55rem;
    bottom: -4rem;
  }
}
@media (min-width: 64em) {
  .hero__image::after {
    background-image: url("https://raw.githubusercontent.com/desalwi/modoro/main/images/visual/manwithlaptop.png");
    background-size: 32rem;
    background-position: right bottom;
    position: absolute;
    bottom: -6rem;
    -webkit-animation: intromovelr 2s ease-in-out forwards;
            animation: intromovelr 2s ease-in-out forwards;
    -webkit-animation-delay: 500ms;
            animation-delay: 500ms;
    opacity: 0;
  }
}
.hero__image::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -1rem;
  background-image: url("https://raw.githubusercontent.com/desalwi/modoro/23c480b26ef6e092623bc112762179594512c243/images/visual/swoosh.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  -webkit-animation: intromovezigzagmobile 3s ease-in-out forwards;
          animation: intromovezigzagmobile 3s ease-in-out forwards;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
  opacity: 0;
}
@media (min-width: 40em) {
  .hero__image::before {
    min-height: 36rem;
    background-size: 100%;
    bottom: 2rem;
    -webkit-animation: intromovezigzagtablet 3s ease-in-out forwards;
            animation: intromovezigzagtablet 3s ease-in-out forwards;
    -webkit-animation-delay: 1500ms;
            animation-delay: 1500ms;
    opacity: 0;
  }
}
@media (min-width: 64em) {
  .hero__image::before {
    background-image: url("https://raw.githubusercontent.com/desalwi/modoro/23c480b26ef6e092623bc112762179594512c243/images/visual/swoosh.svg");
    background-size: 100%;
    background-position: right bottom;
    position: absolute;
    bottom: 0;
    transform: scale(1.6);
    transform-origin: bottom left;
    left: 17px;
    z-index: -77;
    -webkit-animation: intromovezigzag 3s ease-in-out forwards;
            animation: intromovezigzag 3s ease-in-out forwards;
    -webkit-animation-delay: 1500ms;
            animation-delay: 1500ms;
    opacity: 0;
  }
}
.hero__text {
  text-align: center;
}
@media (min-width: 64em) {
  .hero__text {
    flex: 2;
    order: 1;
    text-align: left;
    height: 696px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(0deg, 0%, 100%);
  position: fixed;
  top: 0;
  height: 8em;
  width: 100vw;
  z-index: 10;
  transition: all 0.2s ease-in-out;
}
.header.open .header__menu > span:first-child {
  transform: rotate(40deg);
}
.header.open .header__menu > span:nth-child(2) {
  opacity: 0;
}
.header.open .header__menu > span:last-child {
  transform: rotate(-40deg);
}
.header .overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.header nav {
  position: relative;
  width: 100%;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
  height: 5em;
}
.header__logo {
  display: flex;
}
.header__logo img {
  height: 2.375rem;
}
.header__menu > span {
  display: block;
  width: 32px;
  height: 2px;
  background-color: hsl(233deg, 26%, 24%);
  transform-origin: 0px 1px;
  transition: all 300ms ease;
}
.header__menu > span:not(:last-child) {
  margin-bottom: 8px;
}
.header__menus {
  background-color: hsl(0deg, 0%, 100%);
  padding: 3.5rem 1.5rem;
  border-radius: 3px;
  position: absolute;
  margin-top: 1.5rem;
  width: 100%;
  height: 100vh;
  top: 4em;
  opacity: 1;
  transition: opacity 1s;
}
.header__menus a {
  display: block;
  color: hsl(233deg, 8%, 62%);
  font-weight: 500;
  text-align: left;
  font-size: 3rem;
}
.header__links a {
  position: relative;
  font-size: 0.857rem;
  color: hsl(233deg, 8%, 62%);
  transition: color 200ms ease;
}
.header__links a:not(:last-child) {
  margin-right: 32px;
}
.header__links a:before {
  position: absolute;
  content: "";
  display: block;
  height: 3px;
  background-color: hsl(248deg, 86%, 77%);
  left: 0;
  right: 0;
  bottom: -30px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 200ms ease;
}
.header__links a:hover {
  color: hsl(233deg, 26%, 24%);
}
.header__links a:hover:before {
  background-color: hsl(248deg, 86%, 77%);
  transform: scaleX(1);
  transform-origin: bottom left;
}

.scrolled-nav {
  height: 5em !important;
  box-shadow: 0px 13px 24px rgba(0, 0, 0, 0.03);
  background-color: hsl(0deg, 0%, 100%);
}

.counter {
  width: 20px;
  height: 20px;
  background: black;
  color: #fff;
  position: fixed;
  top: 120px;
  right: 0;
}

.feature {
  background-color: hsl(0deg, 0%, 98%);
  text-align: center;
}
@media (min-width: 40em) {
  .feature {
    text-align: left;
  }
}
@media (min-width: 40em) {
  .feature__grid {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 64em) {
  .feature__intro {
    width: 60%;
    margin-bottom: 3.75rem;
  }
}
.feature__item {
  padding: 0.9375rem;
}
@media (min-width: 40em) {
  .feature__item {
    flex: 0 0 50%;
  }
}
@media (min-width: 64em) {
  .feature__item {
    flex: 1;
  }
}
.feature__icon {
  margin-bottom: 0.875rem;
}
@media (min-width: 64em) {
  .feature__icon {
    margin-bottom: 2.75rem;
  }
}
.feature__icon img {
  height: 4em;
}
.feature__title {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.2;
  color: hsl(233deg, 26%, 24%);
  margin-bottom: 1rem;
}
@media (min-width: 64em) {
  .feature__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
.feature__desc {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.articles {
  background-color: hsl(0deg, 0%, 100%);
}

.article__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.875rem;
}
@media (min-width: 40em) {
  .article__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 64em) {
  .article__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.article__item {
  border-radius: 1px;
  background-color: hsl(0deg, 0%, 100%);
  overflow: hidden;
  transition: all 300ms ease;
  box-shadow: 0px 13px 24px rgba(0, 0, 0, 0.03);
}
.article__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
  transform: scale(1, 1);
  transition: all 200ms ease;
}
.article__item:hover {
  box-shadow: 0px 20px 34px rgba(0, 0, 0, 0.08);
}
.article__item:hover img {
  transform: scale(1.1, 1.1);
}
.article__image {
  height: 12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}
.article__text {
  background-color: hsl(0deg, 0%, 100%);
  padding: 2rem 2rem 2rem 2rem;
  color: hsl(233deg, 8%, 62%);
}
@media (min-width: 40em) {
  .article__text {
    padding: 2rem 2rem 1.3rem 2rem;
  }
}
.article__author {
  font-size: 0.625rem;
  margin-bottom: 0.75rem;
}
.article__title {
  font-size: 1rem;
  line-height: 1.25;
  color: hsl(233deg, 26%, 24%);
  margin-bottom: 0.5rem;
  height: 8em;
}
.article__desc {
  font-size: 0.857rem;
  display: none;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.footer {
  background-color: hsl(233deg, 26%, 24%);
  -moz-columns: hsl(0deg, 0%, 100%);
       columns: hsl(0deg, 0%, 100%);
  padding: 2.5rem 0rem;
  text-align: center;
}
@media (min-width: 40em) {
  .footer {
    padding: 2.5rem 0rem;
  }
}
@media (min-width: 64em) {
  .footer {
    padding: 6rem 0rem;
  }
}
@media (min-width: 40em) {
  .footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 8rem auto auto;
    grid-template-areas: "logo logo social" "links1 links2 cta" "links1 links2 copyright";
    justify-items: start;
  }
}
@media (min-width: 64em) {
  .footer .container {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr) 3.5fr;
    grid-template-rows: 4rem 12rem auto;
    grid-template-areas: "logo links1 links2 cta" "logo links1 links2 cta" "social links1 links2 copyright";
    justify-items: start;
  }
}
.footer a {
  color: hsl(0deg, 0%, 100%);
}
.footer__logo {
  display: inline-block;
  margin-bottom: 1.875rem;
}
@media (min-width: 64em) {
  .footer__logo {
    margin-bottom: 0;
  }
}
@media (min-width: 40em) {
  .footer__logo {
    grid-area: logo;
  }
}
.footer__social {
  margin-bottom: 1.875rem;
  display: flex;
  justify-content: center;
}
.footer__social a {
  display: flex !important;
}
@media (min-width: 40em) {
  .footer__social {
    margin-bottom: 0;
    display: flex;
  }
}
@media (min-width: 40em) {
  .footer__social {
    grid-area: social;
    align-self: start;
    justify-self: end;
  }
}
@media (min-width: 64em) {
  .footer__social {
    align-self: end;
    justify-self: start;
  }
}
.footer__social a:not(:last-child) {
  display: inline-block;
  margin-right: 1.2rem;
}
.footer__social img {
  width: 24px;
  opacity: 0.3;
  transition: all 200ms ease;
}
.footer__social img:hover {
  opacity: 1;
}
.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 3;
  font-size: 0.857rem;
}
@media (min-width: 40em) {
  .footer__links {
    align-items: start;
    line-height: 2;
    gap: 1em;
  }
}
@media (min-width: 40em) {
  .footer__links.col1 {
    grid-area: links1;
  }
}
.footer__links.col2 {
  margin-bottom: 1.875rem;
}
@media (min-width: 40em) {
  .footer__links.col2 {
    margin-bottom: 0;
  }
}
@media (min-width: 40em) {
  .footer__links.col2 {
    grid-area: links2;
  }
}
.footer__links a {
  color: hsl(0deg, 0%, 100%);
  transition: all 150ms ease;
  position: relative;
}
.footer__links a:before {
  position: absolute;
  content: "";
  display: block;
  height: 1px;
  background-color: hsl(320deg, 95%, 85%);
  left: 0;
  right: 0;
  bottom: -1px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 200ms ease;
}
.footer__links a:hover {
  color: hsl(320deg, 95%, 85%);
}
.footer__links a:hover:before {
  background-color: hsl(320deg, 95%, 85%);
  transform: scaleX(1);
  transform-origin: bottom left;
}
@media (min-width: 40em) {
  .footer__cta {
    grid-area: cta;
    text-align: right;
    justify-self: end;
  }
}
.footer__cta a.button {
  margin-bottom: 1.875rem;
}
@media (min-width: 64em) {
  .footer__cta a.button {
    margin-bottom: 0;
  }
}
.footer__copyright {
  font-size: 0.857rem;
}
@media (min-width: 40em) {
  .footer__copyright {
    grid-area: copyright;
    align-self: end;
    justify-self: end;
  }
}/*# sourceMappingURL=style.css.map */